# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
*.pyo
*.pyd
*.pdb
*.so
*.env
*.venv/
# If you're using Django's default project layout:
myproject/settings_local.py

# Media files
/media
/static

# Virtual environment
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# System files
.DS_Store
Thumbs.db

# Editor and IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python specific
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
pip-wheel-metadata/
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/
